.favorites {
  position: relative;
  border: 10px solid #1a1a2e;
  background: #1a1a2e;
  color: #eee;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin: 12rem auto;
  padding: 25px;
  max-width: 80%;

  h2 {
    text-align: left;
    font-weight: 600;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    font-size: 26px;
    color: white;
  }

  p {
    text-align: left;
    font-weight: 600;
    margin: 0;
    font-size: 20px;
    color: white;
  }

  .favorites-list {
    display: grid;
    gap: 12px;
  }

  .favorites-list img {
    position: relative;
    z-index: 9999;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: #dec0ff;
    }
  }
}

.favorite-item {
  position: relative;
  display: inline-block;
  margin: 5px;
}

.remove-favorite-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 18px;
  text-align: center;
}

.remove-icon {
  position: relative;
  top: 0px;
  right: 5.5px;
  color: black;
  pointer-events: none;
}

@media (max-width: 768px) {
  .favorites {
    max-width: 90%;
    margin: 9rem 1.5rem;

    .favorites-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
  .favorites {
    max-width: 90%;

    .favorites-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (min-width: 1301px) {
  .favorites {
    .favorites-list {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
