.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(26, 26, 46, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100007;

  img {
    max-width: 72%;
    max-height: 72%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  }

  @media (max-width: 768px) {
    img {
      max-width: 85%;
      max-height: 85%;
    }
  }
}
