*,
*::before,
*::after {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #111114;
  border-radius: 999px;
  border: 1px solid #313131;
  padding: 1rem 2.8rem;
  width: 80%;
  z-index: 100;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo img {
  width: 150px;
}

.spacer {
  flex: 1;
}

.nav-links {
  display: flex;
  gap: 4rem;
  list-style: none;
  margin: 0;

  li a {
    text-decoration: none;
    color: #eaeaea;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: #bd87ff;
    }
  }
}

.mobile-menu {
  position: absolute;
  top: calc(100%);
  left: 50%;
  transform: translateX(-50%);
  background-color: #111114;
  border-radius: 1rem;

  padding: 0 2rem;
  width: 99%;
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  z-index: 999;
  transition: max-height 0.4s ease, padding 0.4s ease;
}

.mobile-menu.open {
  max-height: 500px;
  padding: 1.5rem 2rem;
  border: 1px solid #313131;
}

.mobile-menu li {
  list-style: none;
  width: 100%;
  text-align: center;
}

.mobile-menu li a {
  text-decoration: none;
  color: #eaeaea;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.3s ease;
  display: block;
  width: 100%;

  &:hover {
    color: #bd87ff;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  width: 24px;
  height: 20px;
  position: relative;
  margin-top: 0.2rem;
  z-index: 1100;
}

.hamburger span {
  display: block;
  height: 2px;
  background: white;
  border-radius: 2px;
  transition: all 0.3s ease;
  transform-origin: center;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px) {
  .navbar {
    width: 92%;
    padding: 1rem 2rem;
  }
  .logo img {
    width: 120px;
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
    margin-left: auto;
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
  .navbar {
    width: 92%;
    .nav-links {
      gap: 3rem;
    }
  }
}
@media (min-width: 769px) {
  .mobile-menu {
    display: none !important;
  }
}
